nav{
    background: rgba(0, 0, 0, 0.92);
}
#logo{
    height: 60px;
}
#title{
    background-color:  white;
    font-family: orange;
    color : black;
    font-size: 3rem;
    margin: 0px;
    border-radius: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.menu{
    padding : 1rem;
}
@media (max-width: 767px){
    #logo{
        height: 100px;
    }
    nav{
        flex-direction: column;
        border-radius: 0px 0px 60px 60px;
    }
    .menu{
        padding-top: 0px;
    }

}
@media (max-width: 444px){
    #logo{
        height: 60px;
    }
    #title{
        font-size: 2.5rem;
    }
}
@media (max-width: 360px){
    #logo{
        height: 50px;
    }
    #title{
        font-size: 2rem;
    }
}